<section id="about">
  <div class="row">
    <div class="col-md-6">
      <hr>
      <h1 class="about-title">About Us</h1>
      <div class="about-subtitle mt-4">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi vel, dolore veniam
        molestias itaque cumque optio iure error consequatur aperiam tempora delectus perspiciatis culpa illo
        repellendus blanditiis? A, cupiditate autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure modi
        eos maiores tenetur totam dignissimos repudiandae temporibus magni impedit esse minus, provident nihil
        doloremque similique quod? Illo voluptatem nulla unde!<br/>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi vel, dolore veniam
        molestias itaque cumque optio iure error consequatur aperiam tempora delectus perspiciatis culpa illo
        repellendus blanditiis? A, cupiditate autem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure modi
        eos maiores tenetur totam dignissimos repudiandae temporibus magni impedit esse minus, provident nihil
        doloremque similique quod? Illo voluptatem nulla unde!</div>
    </div>
    <div class="col-md-6">
      <img class="img-fluid about-img" src="../../../assets/images/cards/ferrari.jpeg" alt="">
    </div>
  </div>
</section>