@import '../../app.component.scss';

#about{
    margin-top: 5%;
    .about-title{
        font-weight: 700;
        text-align: center;
    }
    .about-subtitle{
        text-align: center;
    }
    .about-img{
        border-radius: 10px;
    }
}