$main-color: #f04a3e;
$color-dark: #27272e;
$color-light-dark: #292930;
$color-blue: #0d6efd;
$color-light: #ecf2f6;
$color-white: #ffffff;
$color-green: #76c81c;
$color-gray: #808080;
$color-horizontal-line: darkgray;
