$font-size-h5: 15px; 
$font-size-h6: 21px;
$font-size-a: 17px;
$font-size-card-left-icon: 10px;
$font-size-p-tag-sm: 11px;
$font-size-span-md: 13px;

$font-size-main-btn: 16px;
$font-size-main-icon: 20px;
$font-size-extra-btn: 14px;

$font-weight-md: 500;
$font-weight-bold: bold;

$font-family: "DM Sans", sans-serif;