<div class="filter-panel mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <!--Form Start-->
        <form>

          <!--Row Start-->
          <div class="row">

            <div class="col-lg-2">
              <select class="custom-select my-1 mr-sm-2" id="make-selection">
                <option selected>Make</option>
                <option value="1">Audi</option>
                <option value="2">Bmw</option>
              </select>
            </div>

            <div class="col-lg-2">
              <div class="form-group price">
                <label class="mt-3 price-label" for="price">Price</label>
                <input type="text" class="form-control" id="from-price-input" placeholder="From">
              </div>
            </div>

            <div class="col-lg-1">
              <input type="text" class="form-control" id="to-price-input" placeholder="To">
            </div>

            <div class="col-lg-2">
              <select class="custom-select my-1 mr-sm-2" id="currency-selection">
                <option selected>PLN</option>
                <option value="1">USD</option>
                <option value="2">EUR</option>
              </select>
            </div>

            <div class="col-lg-2">
              <select class="custom-select my-1 mr-sm-2" id="city-selection">
                <option selected>All Citites</option>
                <option value="1">Warsaw</option>
                <option value="2">Gdansk</option>
              </select>
            </div>

            <div class="col-lg-3">
              <button class="btn extra-btn-1 mt-2">Search</button>
            </div>

          </div>
          <!--Row End-->

          <!--Row Start-->
          <div class="row mt-3">

            <div class="col-lg-2">
              <select class="custom-select my-1 mr-sm-2" id="model-selection">
                <option selected>Model</option>
                <option value="1">A6</option>
                <option value="2">M5</option>
              </select>
            </div>
            
            <div class="col-lg-2">
              <div class="form-group price">
                <label class="mt-3 year-label" for="year">Year</label>
                <input type="text" class="form-control" id="from-year-input" placeholder="From">
              </div>
            </div>
            
            <div class="col-1">
              <input type="text" class="form-control" id="to-year-input" placeholder="To">
            </div>
            
            <div class="col-lg-2">
              <select class="custom-select my-1 mr-sm-2" id="fuel-type-selection">
                <option selected>Fuel Type</option>
                <option value="1">Diesel</option>
                <option value="2">Petrol</option>
              </select>
            </div>
            
            <div class="col-lg-2">
              <input type="text" readonly class="form-control" placeholder="Today: 30000 Ads">
            </div>
            
            <div class="col-lg-3">
              <button class="btn extra-btn-2 mt-2">Advanced Search</button>
            </div>

          </div>
          <!--Row End-->

        </form>
         <!--Form End-->
         
      </div>
    </div>
  </div>
</div>